.home {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  min-height: 100vh;
  padding: 0 1rem;
}

.home-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--color-principal);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.home-text {
  max-width: 600px;
  text-align: center;
}

/* -------- RESPONSIVE -------- */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .home-image img {
    max-width: 250px;
  }

  .title_Name {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1rem;
    margin-block: 30px;
  }
}
